@import "../../assets/style/custom.scss";
@import "../../assets/style/mixins/index";
.login-container {
  @include page-container-size;
  display: flex;
  justify-content: center;
  padding: 160px 0px;
  background-image: url("../../assets/images/loginbg.jpg");
  background-size: cover;
  background-position: 50%;
  .#{$form-item-prefix} {
    border-bottom: $border-primary;
    margin-bottom: 24px;
    .#{$form-item-prefix}-error-tip {
      padding-top: 6px;
    }
    .#{$form-item-prefix}-content {
      .zd-filed-container {
        .van-cell {
          background-color: transparent;
          color: $primary-color;
          border: none;
          border-bottom: none;
          .text {
            color: #fff;
          }
        }
      }
    }
  }
  .login-content {
    width: 86%;
  }
}
