.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 160px 0px;
  background-image: url("../../assets/images/loginbg.jpg");
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  .van-cell {
    background-color: transparent;
    color: #cc9933;
    border: none;
    border-bottom: 1px solid #cc9933;
  }
  .login-content {
    width: 80%;
  }
}
