@import "../../assets/style/custom.scss";
.component-icon-text {
  .van-icon {
    display: block;
    font-size: 24px;
  }
  .icon-text {
    margin-top: 6px
  }
}

.border-right {
  border-right: $border-normal;
}
