@import "./base";
@import "./custom";
@import "./mixins/index";
body {
  background: $body-background;
  font-size: $font-size-base;
  font-family: $font-family;
  color: $text-color;
}

//  样式覆盖
.van-tabs__wrap--scrollable .van-tab {
  flex: 0 0 25% !important;
}
.van-nav-bar__text {
  color: $title-color;
}
.van-nav-bar .van-icon {
  color: $title-color;
}
.van-cell__value {
  span {
    color: $title-color;
  }
}

#app {
  @include page-container-size;
}
.ml10 {
  margin-left: $margin-left-base;
}
.mb20 {
  margin-bottom: $margin-left-base;
}
