body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

body {
  background: #f5f5f5;
  font-size: 18px;
  color: #999;
}

//   禁用滚动条
::-webkit-scrollbar {
  display: none;
  /*隐藏滚轮*/
}

//  样式覆盖
.van-tabs__wrap--scrollable .van-tab {
  flex: 0 0 25% !important;
}
.van-nav-bar__text {
  color: #cc9933;
}
.van-nav-bar .van-icon {
  color: #cc9933;
}
.van-cell__value {
  span {
    color: #cc9933;
  }
}

#app {
  width: 7.5rem;
  font-size: 12px;
  min-height: 100vh;
}
.ml10 {
  margin-left: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
