@import "../../assets/style/custom.scss";
.#{$form-item-prefix}{
  display: flex;
  margin-bottom: 12px;
  border-bottom:1px solid #f5f5f5;
  .#{$form-item-prefix}-label {
    text-align: left;
    vertical-align: middle;
    font-size: $font-size-base;
    color: $info-color;
    line-height: 1;
    padding: 10px 12px 10px 0;
    box-sizing: border-box;
    width: 80px;
  }
  .#{$form-item-prefix}-content {
    position: relative;
    width: 100%;
    margin-left: 0!important;
    .zd-filed-container {
      .van-cell {
        padding: 5px 0px !important;
      }
    }
  }
  .vant-form-label-left .vant-form-item-label {
    text-align: left;
  }
  .vant-form-label-top .vant-form-item-label {
    float: none;
    display: inline-block;
    padding: 0 0 10px 0;
  }
  .#{$form-item-prefix}-error-tip {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 1;
    color: $error-color;
  }
}
.#{$form-item-prefix}-required {
  .#{$form-item-prefix}-label:before {
    content: "*";
    display: inline-block;
    margin-right: 4px;
    line-height: 1;
    font-family: SimSun;
    font-size: 14px;
    color: $error-color;
  }
}