.is-danger {
  color: red;
  border-color: red;
  text-align: left;
  .el-input__inner {
    border-color: red!important;
  }
  .el-input__inner {
    border-color: green!important;
  }
}

.el-input__inner:focus {
  border-color: green!important;
}

.form-validate {
  width: 800px;
  margin: 0 auto;
}
.validate-input .el-input{
  width: 400px;
}