.commodity-list-container {
  .commodity-list {
    margin-bottom: 0.2rem;
    padding: 0.2rem;
    height: 2rem;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    .img-container {
      img {
        display: block;
        width: 90%;
        height: 2rem;
      }
    }
    .text-container {
      color: #333;
      .price {
        color: #cd0c0c;
        margin: 0.3rem 0;
      }
      .introduce {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
