.is-danger {
  color: red;
  border-color: red;
  text-align: left;
}
 .el-input__inner:focus{
     border-color: green!important;
}
.is-danger .el-input__inner {
  border-color: red!important;
}
.is-success .el-input__inner {
    border-color: green!important;
}
