@import "../../assets/style/custom.scss";
@import "../../assets/style/mixins/index";
.home-container {
  @include page-container-size;
  .info-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    .list {
      display: flex;
      justify-content: center;
    }
    .title {
      color: $error-color;
      margin-bottom: 20px;
      font-size: 18px;
    }
  }
}
