@import "../../assets/style/custom.scss";
.v-scroll-container {
  overflow: hidden;
  overflow-y: scroll;
  .children-list {
    background: #f3f3f3;
    padding: 20px;
    height:100px;
    text-align: center;
    line-height: 100px;
  }
  .children-list-active {
    background: $write-color;
    color: $error-color;
  }
}
