@import "../../assets/style/custom.scss";
.no-data-container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  .content {
    width: 60%;
    .text {
      display: flex;
      justify-content: center;
      color: $base-color;
      font-size: $font-size-large;
      margin-top: 10px;
    }
    img {
      width: 100%;
    }
  }
}
