.no-data-container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  .content {
    width: 60%;
    .text{
      display: flex;
      justify-content: center;
      color: #666;
      font-size: 16px;
      margin-top: 10px;
    }
    img {
      width: 100%;
    }
  }
}
