@import "../../assets/style/custom.scss";
.zd-item-container {
  background: $write-color;
  min-height: 2rem;
  color: $base-color;
  margin-bottom: 0.2rem;
  .title {
    color: $primary-color;
    padding: 0.1rem 0.2rem;
    border-bottom: $border-normal;
    .right {
      text-align: right;
    }
  }
  .content {
    padding: 0.1rem 0.2rem;
    border-bottom: $border-normal;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    padding: 0.1rem 0.2rem;
  }
}
